.jetpack-fonts__typekit-option-logo {
  width: 32px;
  height: 100%;
  margin: 0;
  background: url( '../img/typekit-logo-1x.png' ) no-repeat 0 0;
  background-size: 16px;
  background-position: center;
  background-color: #fff;
  display: inline-block;
  float: right;
}
.jetpack-fonts__typekit-credit {
  display: inline-block;
  background: url( '../img/typekit-logo-1x.png' ) no-repeat 0 0;
  background-size: 16px 16px;
  float: right;
  padding-left: 20px;
  margin: 30px 15px 20px 0;
  opacity: .75;
  font-size: 11px;
}
.jetpack-fonts__typekit-credit:focus, .jetpack-fonts__typekit-credit:hover {
  opacity: 1;
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .jetpack-fonts__typekit-option-logo {
    background-image: url( '../img/typekit-logo-2x.png' );
  }
  .jetpack-fonts__typekit-credit {
    background-image: url( '../img/typekit-logo-2x.png' );
  }
}

.jetpack-fonts__current-font .jetpack-fonts__typekit-option-logo {
  display: none;
}
#customize-control-jetpack_fonts {
  margin-bottom: 0;
}
/* clear the container because of our float */
#customize-control-jetpack_fonts:after {
  content: "";
  display: table;
  clear: both;
}
